* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    height: 100vh;
}

svg {
    display: block;
    width: 100%;
}

#body {
    position: absolute;
    animation: upDown 3s ease-in-out infinite;
    transform-origin: center;
}

@keyframes upDown {

    0%,
    50%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-50px);
    }

    75% {
        transform: translateY(50px);
    }
}